html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: relative;
  padding: 0;
  margin: 0;
}

input, button, textarea {
  outline: none;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

img {
  max-width: 100%;
}

.avatar {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background: white;
  box-sizing: border-box;
  border: 2px solid white;
}

.section {
  position: relative;
  box-sizing: border-box;
  background: url(../images/background.png) repeat-y;
  background-size: 100% auto;
  background-position-x: center;
  padding: 1.875rem 0;
  min-height: 100vh;

  //&::before {
  //  position: absolute;
  //  content: "";
  //  display: block;
  //  width: 9px;
  //  top: 10%;
  //  bottom: 10%;
  //  left: 10px;
  //  background: url("../images/arrow_up.png") repeat-y;
  //  background-size: 100% auto;
  //}

  //&::after {
  //  position: absolute;
  //  content: "";
  //  display: block;
  //  width: 9px;
  //  top: 10%;
  //  right: 10px;
  //  bottom: 10%;
  //  background: url("../images/arrow_down.png") repeat-y;
  //  background-size: 100% auto;
  //}

  .logo {
    width: 3.33rem;
    height: 3.33rem;
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 999;
    margin-top: -1.875rem;
    background: rgba(255, 255, 255, 1);

    img {
      width: 100%;
      height: auto;
    }
  }

  .container {
    //position: relative;
    //background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1.03));
    // border: 1px solid rgba(255, 255, 255, 1);
    margin-top: 1.875rem;
    padding: 0 0 2.5rem 0;

    //&::before {
    //  content: "";
    //  position: absolute;
    //  width: 20px;
    //  height: 20px;
    //  border-top: 2px solid white;
    //  border-left: 2px solid white;
    //  top: -8px;
    //  left: -8px;
    //}

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-right: 2px solid #FE0000;
      border-bottom: 2px solid #FE0000;
      bottom: -8px;
      right: -8px;
    }
  }

  .title {
    color: #FFE200;
    font-size: 0.75rem;
    background: #0251B6;
    width: 7.72rem;
    border-radius: 1rem;
    text-align: center;
  }

  .item-title {
    font-size: 1rem;
    font-weight: 500;
    color: #233C5A;

    .arrow {
      display: inline-block;
      width: .6rem;
      height: .6rem;
      box-sizing: border-box;
      border-top: 2px solid #233C5A;
      border-right: 2px solid #233C5A;
      transform: rotate(45deg);

      &.flip {
        border-bottom: 2px solid #233C5A;
        border-left: 2px solid #233C5A;
        border-top: none;
        border-right: none;
      }
    }
  }

  .solgan {
    text-align: center;
    color: #FE0000;
    font-size: .9375rem;
    padding-bottom: 1.5rem;
  }
}

.section-header {
  width: 100%;
  border: 1.5px solid #A0C9FD;
  border-radius: 0.625rem 0.625rem 0 0;

  &.full {
    background: #A0C9FD;
  }

  .logo-image {
    width: 3.33rem;
    background: white;
    border-radius: 3.33rem;
    height: 3.33rem;
    margin-top: -1.76rem;
  }

  .name {
    padding: 0.9rem;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
  }

  .main-title {
    margin-top: 0.6rem;
    font-size: 1.19rem;
    color: #0251B6;
    font-weight: 500;
  }

  .sub-title {
    font-size: 0.65rem;
    color: #FFFFFF;
    margin-bottom: 0.27rem;
    letter-spacing: 3px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-device-width: 376px) {
  html {
    font-size: 14px;
  }
}
